<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap" rel="stylesheet">
    <link href="fullimage.css" rel="stylesheet" />
    <title>Page Author</title>
    <style>
        .img-container {
            text-align: center;
            padding-right: 800px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/goulash">Instant Pot Goulash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/yogurt">Instant Pot No Boil Yogurt</a>
        </li>
    </ul>

</nav>
<h2 align="center"><strong>About the Author</strong></h2>
<br>
<br>
<div class="img-container">
    <img src="IMG_20190707_170525.jpg" style="width:336px;height:336px;border:0;">
</div>
<br>
<br>
<br>
<p align="center">Kristyn was raised by a mother who knew her way around a kitchen and was handy in a garden.</p>
<p align="center">Unfortunately, those genes were not passed down, so in order to eat healthy, she needed to find ways to cook, without actually cooking.</p>
<p align="center">Thank goodness for the Instant Pot. This little gem of an appliance has let Kristyn literally set it and forget it. She is able to cook very healthy meals and spend time doing literally anything else but</p>
<p align="center">spend hours in the kitchen. She even makes her own yogurt without breaking a sweat.</p>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>