<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap" rel="stylesheet">
    <title>Instant Pot Goulash</title>
    <style>
        .img-container {
            text-align: center;
        }
    </style>
</head>
<body style="background: firebrick">

<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/yogurt">Instant Pot No Boil Yogurt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/author">Author</a>
        </li>
    </ul>

</nav>
<h1 align="center">Instant Pot Goulash</h1>
<div class="img-container">
    <img src="american%20flag.png" alt="An American flag"></div>
<div class="img-container">
    <br>
<img src="Instant-Pot-Goulash-10-768x851.jpg" alt="An image of goulash" class="center">
</div>
<p></p>
<h2 align="center">Ingredients</h2>
<p></p>
<p align="center">1 lb ground beef</p>
<p align="center">1 large onion</p>
<p align="center">3 cloves garlic</p>
<p align="center">2 15- ounce cans tomato sauce</p>
<p align="center">2 15- ounce cans diced tomatoes</p>
<p align="center">3 tbsp soy sauce</p>
<p align="center">3 cups elbow noodles</p>
<p align="center">2 1/2 cups water or beef broth</p>
<p align="center">3 bay leaves</p>
<p align="center">salt and pepper, to taste</p>
<p></p>
<h2 align="center">Instructions</h2>
<p></p>
<p align="center">Turn the Instant Pot onto saute.</p>
<p align="center">When hot, add ground beef garlic, salt, pepper, and onion.</p>
<p align="center">Cook until meat is browned.</p>
<p></p>
<p align="center">When meat is browned drain fat then add tomato sauce, diced tomatoes, Italian seasoning, soy sauce, water, noodles, and bay leaves.</p>
<p></p>
<p align="center">Set your Instant Pot to manual high pressure for 4 minutes.</p>
<p></p>
<p align="center">When timer is up perform a quick release of pressure.</p>
<p></p>
<p align="center">Take out bay leaves and give everything a good stir.</p>
<p></p>
<p align="center">Top with Parmesan Cheese and enjoy!</p>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>