<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap" rel="stylesheet">
    <title>Instant Pot Goulash</title>
    <style>
        .img-container {
            text-align: center;
        }
    </style>


</head>
<body bgcolor="#FF6347">

<nav>
    <a href="/">Home</a>
    <a href="/yogurt">Instant Pot Yogurt</a> |
</nav>
<h1 align="center">Instant Pot Goulash</h1>
<div class="img-container">
    <img src="american%20flag.png" alt="An American flag"></div>
<div class="img-container">
<img src="Instant-Pot-Goulash-10-768x851.jpg" alt="An image of goulash" class="center">
</div>
<p></p>
<h2 align="center">Ingredients</h2>
<p></p>
<p align="center">1 lb ground beef</p>
<p align="center">1 large onion</p>
<p align="center">3 cloves garlic</p>
<p align="center">2 15- ounce cans tomato sauce</p>
<p align="center">2 15- ounce cans diced tomatoes</p>
<p align="center">3 tbsp soy sauce</p>
<p align="center">3 cups elbow noodles</p>
<p align="center">2 1/2 cups water or beef broth</p>
<p align="center">3 bay leaves</p>
<p align="center">salt and pepper, to taste</p>
<p></p>
<h2 align="center">Instructions</h2>
<p></p>
<p align="center">Turn the Instant Pot onto saute.</p>
<p align="center">When hot, add ground beef garlic, salt, pepper, and onion.</p>
<p align="center">Cook until meat is browned.</p>
<p></p>
<p align="center">When meat is browned drain fat then add tomato sauce, diced tomatoes, Italian seasoning, soy sauce, water, noodles, and bay leaves.</p>
<p></p>
<p align="center">Set your Instant Pot to manual high pressure for 4 minutes.</p>
<p></p>
<p align="center">When timer is up perform a quick release of pressure.</p>
<p></p>
<p align="center">Take out bay leaves and give everything a good stir.</p>
<p></p>
<p align="center">Top with Parmesan Cheese and enjoy!</p>
</body>
</html>