<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap" rel="stylesheet">
    <title>Instant Pot Yogurt</title>
    <style>
        .img-container {
            text-align: center;
        }
    </style>
</head>
<body style="background: cornflowerblue">

<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/goulash">Instant Pot Goulash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>

</nav>



<h1 align="center"><strong>Instant Pot Cold Start Yogurt</strong></h1>
<div class="img-container">
    <img src="greekflag.png" alt="A Greek flag"></div>
<div class="img-container">
    <br>
<img id=centerimg src="instant-pot-no-boil-yogurt-4.jpg" alt="An image Instant Pot Yogurt">
</div>

<p></p>
<h2 align="center">Ingredients</h2>
<p align="center">52 oz Fairlife® Ultra Filtered Milk, divided</p>
<p align="center">2 Tbsp Yogurt Starter (use a yogurt with live, active cultures)</p>
<p align="center">1 cup Heavy Cream (optional)</p>
<p align="center">2-3 tsp Vanilla (optional)</p>
<p></p>
<h2 align="center">Directions</h2>
<p></p>
<p align="center">Pour 1/4 of the milk into the inner liner (stainless pot).</p>
<p align="center">Add 2 heaping Tablespoons of the yogurt starter (I like to use Fage brand).</p>
<p align="center">Whisk to incorporate completely.</p>
<p></p>
<p align="center">Add sweetened condensed milk (if using), and whisk very well to dissolve and combine.</p>
<p></p>
<p align="center">Add the heavy cream and vanilla (if using) and the remainder of the milk and whisk well to combine.</p>
<p></p>
<p align="center">Place a lid on the pot.</p>
<p align="center">You can use the IP lid (on venting), a glass lid, silicone, a dinner plate, etc.</p>
<p></p>
<p align="center">Press the Yogurt button (or dial), and set time, using the + or - button, or dial, for either 8 hours (default) or 9 hours (for a more tart flavor). </p>
<p align="center">Longer incubation time equals tarter yogurt.</p>
<p></p>
<p align="center">When incubation time is finished, cover the inner liner with a paper towel, and a lid over that, and place it in the fridge to chill. Do not stir until chilled, for best results.</p>
<p></p>
<p align="center">Remove from fridge and stir. Yogurt should be nice and thick. </p>
<p align="center">If you want it even thicker, you will need to strain it.</p>
<p align="center">To strain, place coffee filters in a strainer set over a bowl and pour the yogurt in the lined strainer (or use a yogurt strainer).</p>
<p align="center">Place in fridge and strain until desired thickness is achieved.</p>
<p></p>



</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>