<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Recipes</title>
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="fullimage.css">-->
    <link href="../fullimage.css" rel="stylesheet" />

</head>
<h1 align="center"><strong>Welcome to My Recipe Site</strong></h1>
<body>
<nav align="center">
    <a href="/goulash">Instant Pot Goulash</a> |
    <a href="/yogurt">Instant Pot Yogurt</a> |
</nav>

<div>

<a href="/goulash">
    <img src="Instant-Pot-Goulash-7-768x668.jpg" alt="Instant Pot Goulash" class="center" style="width:168px;height:168px;border:0;">
</a>
</div>
&nbsp; &nbsp; &nbsp;
<div>
<a href="/yogurt">
    <img src="instant-pot-no-boil-yogurt.jpg" alt="Instant Pot No Boil Yogurt" class = "center" style="width:168px;height:168px;border:0;">
</a>
</div>
</body>
</html>